<p style="color: green"><%= notice %></p>

<h1>Tunnels</h1>

<div id="tunnels">
  <% @tunnels.each do |tunnel| %>
    <%= render tunnel %>
    <p>
      <%= link_to "Show this tunnel", tunnel %>
    </p>
  <% end %>
</div>

<%= link_to "New tunnel", new_tunnel_path %>
